<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title><%- pageTitle %></title>
		<link rel="icon" href="/image/favicon.ico" />
		<link rel="apple-touch-icon" href="/image/logo.png" />

		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/css/commerce.css" />
	</head>

	<body>
		<%- include('../common_contents/navbar.ejs') %>

		<div class="page-content">
			<h1>特定商取引法に<wbr />関する<wbr />表示</h1>
			<table>
				<tr>
					<th>項目</th>
					<th>内容</th>
				</tr>
				<tr>
					<td>サイト<wbr />URL</td>
					<td>https://HoshimiTech<wbr />.hoshimikan6490.com</td>
				</tr>
				<tr>
					<td>メール<wbr />アドレス</td>
					<td>support<wbr />@HoshimiTech<wbr />.hoshimikan6490.com</td>
				</tr>
				<tr>
					<td>問い合わせ<wbr />受付時間</td>
					<td>原則、<wbr />１週間以内に<wbr />返信します。</td>
				</tr>
				<tr>
					<td>販売価格</td>
					<td>
						<ul>
							<li>月額プラン：<wbr />　１月あたり<wbr />250円</li>
							<li>年額プラン：<wbr />　１年あたり<wbr />2,750円</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>支払方法</td>
					<td>開発が<wbr />完了し次第<wbr />こちらに<wbr />記述致します。</td>
				</tr>
				<tr>
					<td>商品代金以外の<wbr />必要経費</td>
					<td>無し</td>
				</tr>
				<tr>
					<td>商品<wbr />引き渡し<wbr />時期</td>
					<td>
						決済後、<wbr />原則30分以内に<wbr />自動的に<wbr />ご利用の<wbr />Discordアカウントに<wbr />サブスクリプションを<wbr />サーバーに<wbr />適応させる権限が<wbr />付与されます。<wbr />この<wbr />アクセス権を<wbr />ご自身の<wbr />サーバーに<wbr />適応させるには、<wbr />決済完了後の画面か<wbr />BOTのコマンドで<wbr />有効化の<wbr />操作を<wbr />行ってください。
					</td>
				</tr>
				<tr>
					<td>不良品<wbr />について</td>
					<td>
						不具合などで<wbr />正常に<wbr />ご利用を<wbr />開始できなかった<wbr />場合、<wbr />お問い合わせ<wbr />頂ければ<wbr />対応<wbr />致します。
					</td>
				</tr>
				<tr>
					<td>返品・<wbr />返金に<wbr />関して</td>
					<td>
						商品の<wbr />特性上、<wbr />利用の<wbr />有無に<wbr />関わらず<wbr />お申し込み後から<wbr />お客様が<wbr />解約の<wbr />意思を<wbr />運営側に<wbr />提示した時<wbr />(解約フォームから<wbr />解約を<wbr />申告し<wbr />運営側が<wbr />それを<wbr />受信した時<wbr />または、<wbr />お問い合わせにて<wbr />お客様が<wbr />解約したい旨を<wbr />ご連絡<wbr />いただいた時)<wbr />までの<wbr />間の<wbr />分の<wbr />返金には<wbr />応じる事が<wbr />出来ません。<wbr />予め<wbr />ご了承ください。
					</td>
				</tr>
				<tr>
					<td>以上の<wbr />内容以外の<wbr />項目に<wbr />関して</td>
					<td>
						お客様から<wbr />問い合わせ等が<wbr />あった場合は、<wbr />遅滞なく<wbr />情報を<wbr />開示<wbr />致します。
					</td>
				</tr>
			</table>
		</div>

		<%- include('../common_contents/footer.ejs') %>
	</body>

	<%- include('../common_contents/menu_Script.ejs') %>
</html>
