<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title><%- pageTitle %></title>
		<link rel="icon" href="/image/favicon.ico" />
		<link rel="apple-touch-icon" href="/image/logo.png" />

		<link rel="stylesheet" type="text/css" href="/css/default.css" />
	</head>

	<body>
		<%- include('common_contents/navbar.ejs') %>

		<div class="page-content">
			<h1>ようこそ</h1>
			<p>私たちについてです。</p>
		</div>

		<%- include('common_contents/footer.ejs') %>
	</body>

	<%- include('common_contents/menu_Script.ejs') %>
</html>
