<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title><%- pageTitle %></title>
		<link rel="icon" href="/image/favicon.ico" />
		<link rel="apple-touch-icon" href="/image/logo.png" />

		<link rel="stylesheet" type="text/css" href="/css/default.css" />
	</head>

	<body>
		<%- include('common_contents/navbar.ejs') %>

		<div class="page-content">
			<div class="home-contents">
				<h1>HoshimiTech</h1>
				<br />
				<p class="pc">
					本プロジェクトではDiscord
					BOTの開発や、教育版マインクラフトに関する情報発信などを行っております。
				</p>
				<p class="mobile">
					Discord bot, Minecraft Education unofficial portal, etc.
				</p>
				<div class="btn">
					<a href="/services" class="button_arrow">サービス一覧を見る</a>
				</div>
			</div>
		</div>

		<br />

		<%- include('common_contents/footer.ejs') %>
	</body>

	<%- include('common_contents/menu_Script.ejs') %>
</html>
