.planList {
  text-align: center;
  margin-bottom: 30px;
}

.plan {
  margin: 15px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: var(--card-background);
  color: var(--text-color);
  width: 290px;
  height: 415px;
  border: 1px solid var(--card-border);
  border-radius: 10px;
}

.plan span {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.plan .price p {
  font-size: large;
  font-weight: bold;
  margin: 20px 0px;
}

.plan .price h3 {
  margin: 0px;
}

.plan .possibleThing {
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.plan .possibleThing ul {
  padding: 15px;
  margin: 0px;
}

.plan .possibleThing li {
  padding: 10px 0px;
  border-bottom: 0.5px solid var(--border-color);
}

.plan .possibleThing li.lastOption {
  border-bottom: none;
}

.buyButton {
  margin: 20px 0px;
}

.buyButton a {
  font-size: unset;
  font-weight: bold;
}