.services {
  text-align: center;
  margin-bottom: 30px;
}

.service {
  margin: 15px;
  padding: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: var(--card-background);
  color: var(--text-color);
  width: 30%;
  height: 350px;
  border: 1px solid var(--card-border);
  border-radius: 10px;
}

.service span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.service span img {
  width: 95px;
}

.service span h2 {
  word-wrap: break-word;
  font-weight: bold;
}

.service span p {
  margin: 0px;
  font-size: small;
}

.service span .btn {
  margin-top: 20px;
}

/*-----------各サービスページのCSS-----------*/
/*サービス一覧に戻るボタンのCSS*/
.goBack-to-serviceList {
  position: absolute;
  left: 15px;
  top: 90px;
}

.goBack-to-serviceList a {
  display: inline-block;
  position: relative;
  padding: 10px 20px 10px 40px;
  background: var(--button-background);
  color: var(--text-color);
  border-radius: 10px;
  text-decoration: none;
}

.goBack-to-serviceList a:hover {
  /* マウスオーバー時のスタイル */
  background: var(--button-hover);
}

.goBack-to-serviceList a::before {
  /* 矢印の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 15px;
  width: 13px;
  height: 13px;
  border-top: 2px solid var(--text-color);
  border-right: 2px solid var(--text-color);
  transform: rotate(-135deg);
  animation: slideBlink 1s linear infinite;
  /* アニメーションの初期設定 */
}

@keyframes slideBlink {

  /* アニメーションの内容 */
  from {
    /* アニメーション終了時のスタイル */
    opacity: 1;
    left: 25px;
  }

  to {
    /* アニメーション開始時のスタイル */
    opacity: 0;
    left: 10px;
  }
}

/*各サービスページのデザイン用CSS*/
.each-service {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 80px;
}

.botDescription {
  margin: 0% auto;
  display: table;
}

.botDescriptionCellLeft {
  display: table-cell;
  width: 400px;
  vertical-align: middle;
  padding: 20px;
}

.botDescriptionCellLeft img {
  width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}

.botDescriptionCellRight {
  display: table-cell;
  padding: 40px 20px;
  vertical-align: middle;
}

.botDescriptionCellRight h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0px;
}

.botDescriptionCellRight ul {
  color: var(--text-color);
}

.botDescription .btn {
  text-align: left;
}

.commandDescription {
  width: 80%;
  margin: 0px auto;
}

.commandDescription h3 {
  width: 200px;
}

.commandDescription table {
  color: var(--text-color);
  margin: 0 auto;
  border-collapse: collapse;
}

.commandDescription table,
th,
td {
  border: 2px solid var(--border-color);
}

.commandDescription th,
td {
  padding: 7.5px;
}

.accordionMenu {
  display: none;
}

/*教育版マイクラのページだけ特別CSS*/
.mcedu-guide {
  height: 60vh;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.mcedu-guide p {
  color: var(--text-gray-color);
}

/*スマホ対応*/
@media screen and (max-width: 955px) {
  .service {
    width: 75%;
    height: 325px;
  }

  .goBack-to-serviceList {
    top: 85px;
  }

  .botDescription,
  .botDescriptionCellLeft,
  .botDescriptionCellRight {
    display: block;
  }

  .botDescriptionCellLeft {
    width: 80%;
    margin: 0 auto;
  }

  .botDescriptionCellRight {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .botDescription .btn a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .commandDescription table {
    display: none;
  }

  .accordionMenu {
    display: block;
  }

  .accordionMenu p {
    padding: 10px;
  }
}