<!DOCTYPE html>
<html lang="ja">
	<head>
		<%- include("../common_contents/head.ejs") %>
	</head>

	<body>
		<%- include('../common_contents/navbar.ejs') %>

		<div class="page-content">
			<h1>404 NOT FOUND</h1>
		</div>

		<%- include('../common_contents/footer.ejs') %>
	</body>

	<%- include('../common_contents/menu_Script.ejs') %>
</html>
