<div class="navbar">
	<div class="nav_table">
		<input title="メニューを開く" type="checkbox" id="menu-checkbox" />
		<label for="menu-checkbox" id="menu_label">
			<span class="menu_btn">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</label>

		<a href="/" class="logo">
			<div>
				<img src="/image/logo.png" alt="HoshimiTechのロゴ" />
				<h1>HoshimiTech</h1>
			</div>
		</a>

		<a href="/" class="menu-button_short">ホーム</a>
		<a href="/services" class="menu-button_short">サービス</a>
		<a href="/plan" class="menu-button_short">プラン</a>
		<a href="/faq" class="menu-button_long">よくあるご質問</a>
		<a href="/about-us" class="menu-button_long">私たちについて</a>
	</div>

	<nav class="menu">
		<ul class="no_list_icon" style="margin-top: 0px">
			<li class="menu_style"><a href="/" class="menu_style">ホーム</a></li>
			<li class="menu_style">
				<a href="/services" class="menu_style">サービス</a>
			</li>
			<li class="menu_style"><a href="/plan" class="menu_style">プラン</a></li>
			<li class="menu_style">
				<a href="/faq" class="menu_style">よくあるご質問</a>
			</li>
			<li class="menu_style">
				<a href="/about-us" class="menu_style">私たちについて</a>
			</li>
		</ul>
	</nav>
</div>
