<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title><%- pageTitle %></title>
		<link rel="icon" href="/image/favicon.ico" />
		<link rel="apple-touch-icon" href="/image/logo.png" />

		<link rel="stylesheet" type="text/css" href="/css/default.css" />
		<link rel="stylesheet" type="text/css" href="/css/services.css" />
	</head>

	<body>
		<%- include('../common_contents/navbar.ejs') %>

		<div class="each-service">
			<div class="mcedu-guide">
				<h1>教育版Minecraft非公式ポータルとは</h1>
				<p>
					※このページは一時的に作成されたものです。サイト開発が進み次第そちらのページに転送されるようになり、このページは表示されなくなります。
				</p>
				<br />
				<div class="btn">
					<a
						href="https://note.com/hoshimikan6490/m/m2e26c7ec491c"
						target="_blank"
						rel="noopener noreferrer"
						>外部サイトで記事を閲覧する</a
					>
				</div>
			</div>
		</div>

		<div class="goBack-to-serviceList">
			<a href="/services">サービス一覧に戻る</a>
		</div>

		<%- include('../common_contents/footer.ejs') %>
	</body>

	<%- include('../common_contents/menu_Script.ejs') %>
</html>
